[Unit]
Description=Personalizes config files on first login with personalized aurora
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/personalize-config
RemainAfterExit=true
Environment=HOME=%h

[Install]
WantedBy=default.target
