[Desktop Entry]
Version=1.0
Type=Application
Exec=bash -c "personalize-config && rm ~/.config/autostart/personalized-aurora-setup.desktop"
Terminal=false
Icon=preferences-desktop-theme-global
Categories=System;PersonalAurora;Utility;
Name=Personalized Aurora Setup
Comment=Personalize your desktop environment
